@font-face {
    font-family: Relaway;
    src: url(polices/Raleway/Raleway-Black.ttf);
    src: url(polices/Raleway/Raleway-Bold.ttf);
    src: url(polices/Raleway/Raleway-BoldItalic.ttf);
    src: url(polices/Raleway/Raleway-SemiBold.ttf);
    src: url(polices/Raleway/Raleway-SemiBoldItalic.ttf);
    src: url(polices/Raleway/Raleway-ExtraBold.ttf);
    src: url(polices/Raleway/Raleway-Regular.ttf);
    src: url(polices/Raleway/Raleway-Italic.ttf);
    src: url(polices/Raleway/Raleway-BlackItalic.ttf);
    src: url(polices/Raleway/Raleway-ExtraBoldItalic.ttf);
    src: url(polices/Raleway/Raleway-ExtraLight.ttf);
    src: url(polices/Raleway/Raleway-ExtraLightItalic.ttf);
    src: url(polices/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(polices/Raleway/Raleway-Light.ttf);
    src: url(polices/Raleway/Raleway-LightItalic.ttf);
    src: url(polices/Raleway/Raleway-Medium.ttf);
    src: url(polices/Raleway/Raleway-MediumItalic.ttf);
    src: url(polices/Raleway/Raleway-Thin.ttf);
    src: url(polices/Raleway/Raleway-ThinItalic.ttf);
    src: url(polices/Raleway/Raleway-VariableFont_wght.ttf);
}




body
{
    background-image: url(images/Logo.svg);
    background-repeat: no-repeat;
    background-position: 50px 30px;
    font-family: Relaway , Arial, Helvetica, sans-serif;
    width: 1300px;
    height: auto;
}







/* Header*/

header nav
{
display: flex;
justify-content: flex-end;
margin-right: 10px;
}



header nav ul
{
    display: flex;
    list-style: none;
}



header nav li
{
margin-left: 80px;
}



header a:link
{
    text-decoration: none;
}



header a:hover
{
   text-decoration: overline #0065FC; 
   padding-bottom: 40px;
}



header #hebergements
{
    color:#0065FC;
}



header #activites
{
    color: gray;
}



header #sinscrire
{
    color:#0065FC;
    font-weight: bold;
}










/* Section 1*/

#section1 h2
{
    margin: 60px 0px 0px 45px;   
}



#section1 p
{
    color: gray;
    font-size: 16px;
    margin-left: 45px;
}




/* Partie formulaire de la Section 1*/

#section1 #formulaire
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    width: 32%;
    height: 40px;
    margin: 30px 0px 40px 45px;   
}



#section1 .bulle-map .fa-map-marker-alt
{
    background-color: #F2F2F2;
    width: 50px;  
    border-radius: 10px 0px 0px 10px; 
}



#section1 #ville
{
    display: flex;
    justify-content: flex-start;
}



#section1 input[type=search] 
{
    border: 0px; 
    width: 220px;   /*Enlève le contour de la zone recherche*/
}



#section1 #bouton
{
    background-color: #0065FC;
    color: white;
    display: flex;
    width: 100px;
    padding-left: 15px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;
}



#section1 input[type=button] 
{
    border: 0px;    /*Enlève le contour du bouton*/
}





/* Partie des filtres de la Section 1*/

#section1 #filtres
{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-bottom: 35px;
    margin-left: 25px;
}



#section1 .filtremot
{
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;
}





/*Filtre economique */

#section1 .economique
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 165px;
    height: 40px;
}



#section1 .economique:hover
{
    background-color: #F2F2F2;
}



#section1 .fa-money-bill-wave
{
    color: #0065FC; 
}



#section1 .bulle-economique .icon-background
{
    color: #DEEBFF;
    margin-top: -1px;
}



#section1 .bulle-economique
{
    margin-left: -10px;  
}



#section1 .moteconomique
{
    padding-top: 10px;
    padding-left: 10px;
}





/* Filtre familial */

#section1 .familial
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 130px;
    height: 40px;  
}


#section1 .familial:hover
{
    background-color: #F2F2F2;
}



#section1 .fa-child
{
    color: #0065FC; 
}



#section1 .bulle-familial .icon-background
{
    color: #DEEBFF;
    margin-top: -1px;  
}



#section1 .bulle-familial
{
    margin-left: -10px;    
}



#section1 .motfamilial
{
    padding-top: 10px;
    padding-left: 10px;
}





/* Filtre romantique */

#section1 .romantique
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 160px;
    height: 40px;   
}



#section1 .romantique:hover
{
    background-color: #F2F2F2;
}



#section1 .fa-heart
{
    color: #0065FC; 
}



#section1 .bulle-romantique .icon-background
{
    color: #DEEBFF;
    margin-top: -1px;   
}



#section1 .bulle-romantique
{
    margin-left: -10px;  
}



#section1 .motromantique
{
    padding-top: 10px;
    padding-left: 10px;
}





/* Filtre animaux autorises */

#section1 .animauxautorise
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 210px;
    height: 40px;
}



#section1 .animauxautorise:hover
{
    background-color: #F2F2F2;
}



#section1 .fa-dog
{
    color: #0065FC; 
}



#section1 .bulle-animaux .icon-background
{
    color: #DEEBFF;
    margin-top: -1px;   
}



#section1 .bulle-animaux
{
    margin-left: -10px; 
}



#section1 .motanimaux
{
    padding-top: 10px;
    padding-left: 10px;
}





/* Partie info avec la bulle info de la Section 1 */

#section1 #info
{
    display: flex;
    margin-left: 45px;
}



#section1 .bulle-info
{
    margin-right: -20px;
    margin-top: 5px;
}



#section1 .fa-info
{
    color: #0065FC;
    padding-left: 3px;
    padding-top: 3px;
}



#section1 .bulle-info .icon-background
{
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #F2F2F2;
    border-image: initial;
    border-radius: 50%; 
    padding: 3px 1px 3px 1px; 
}



   






/* Section 2*/

#section2
{
  display: flex;
  margin-left: 20px;
}



#section2 .card
{
    box-shadow: 4px 4px 8px 0px rgb(201, 199, 199);
}



#section2 a:link
{
    text-decoration: none;
    color: black;
}





/* Partie hebergements de la Section 2 */

#section2 .hebergements
{
    background-color: #F2F2F2;
    padding: 20px 40px 20px 10px;
    margin: 30px 30px 30px 30px;
    width: 800px;
    border-radius: 20px 20px 20px 20px;
}



#section2 #ancre_hebergements
{
    margin-left: 40px;
}



#section2 .heberg 
{
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 200px 200px;
    grid-gap: 10px;
    margin-left: 35px;
}



#section2 .heberg .card 
{
    background: white;
    margin: 5px;
    padding: 15px 15px 5px 15px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 8px 0px rgb(201, 199, 199);
    width: 200px;
}



#section2 .imgcard-heberg
{
    width: 220px;
    height: 100px;
    object-fit: cover;
    margin: -10px -10px -20px -10px;
    border-radius: 10px 10px 0px 0px; 
}



#section2 .heberg p
{
    margin-top: -10px;
    font-size: 14px;
    color: gray;
}



#section2 .fa-star
{
    color: #0065FC;
}



#section2 span .fa-star
{
    color: rgb(228, 226, 226);
}



#section2 .etoiles
{
    margin: -5px 0px 0px -2px;
}



#section2 article #afficherplus
{
    font-weight: bold;
    font-size: 18px;
    margin: 40px 0px 30px 40px;
}





/* Partie Les plus populaires */

#section2 .populaires
{
    background-color: #F2F2F2;
    padding: 20px 37px 20px 37px;
    margin: 30px 0px 30px 10px;
    width: 375px;
    border-radius: 20px 20px 20px 20px;
}



#section2 .fa-chart-line
{
    margin-left: 120px;
}



#section2 .popu 
{
    display: grid;
    grid-template-columns: 360px;
    grid-template-rows: 107px 107px 107px;
    grid-gap: 60px;
}



#section2 .cartepopu 
{
    display: grid;
    grid-template-columns: 140px 180px;
    grid-template-rows: 45px 45px 45px;
    box-shadow: 4px 4px 8px 0px rgb(201, 199, 199);
    background: white;
    margin: 5px;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
    height: 110px;
}



#section2 .imgcard-popu
{
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin: -10px -10px -20px -10px;
    border-radius: 10px 0px 0px 10px;
    grid-row: 1/2;
}



#section2 .cartepopu h4
{
    grid-column-start: 2;
    margin: 0px 20px 0px 0px;
}



#section2 .cartepopu p
{
    grid-column-start: 2;
    grid-row-start: 2;
    color: gray;
    font-size: 14px;
    margin-top: -5px;
}

#section2 .cartepopu .etoilespopu
{
    grid-column-start: 2;
    grid-row-start: 3;
}










/* Section 3 */

#section3
{
    height: 600px;
}



#section3 #ancre_activites
{
    margin-left: 55px;
}



#section3 .activ
{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 260px 180px;
    grid-gap: 40px;
    margin-left: 55px;
}



#section3 a:link
{
    text-decoration: none;
    color: black;
}



#section3 .carteactiv
{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 4px 4px 8px 0px rgb(201, 199, 199);
}



#section3 .activ h4
{
    margin: 10px 0px 20px 20px;
    padding-bottom: 20px;
}



#section3 .activ #vieuxport
{
    grid-column-start: 1;
    grid-row: 1/3;
    width: 275px;
    height: 470px;
}



#section3 .activ #img-vieuxport
{
    width: 275px;
    height: 410px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}



#section3 .activ #fortpomegues
{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 275px;
}



#section3 .activ #img-fortpomegues
{
    width: 275px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}



#section3 .activ #ilesfrioul
{
    grid-column-start: 2;
    grid-row-start: 2;
    width: 275px;
}



#section3 .activ #img-ilesfrioul
{
    width: 275px;
    height: 110px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}



#section3 .activ #calanques
{
    grid-column-start: 3;
    grid-row: 1/3;
    width: 275px;
    height: 470px;
}



#section3 .activ #img-calanques
{
    width: 275px;
    height: 410px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}



#section3 .activ #notredame
{
    grid-column-start: 4;
    grid-row-start: 1;
    width: 275px;
}



#section3 .activ #img-notredame
{
    width: 275px;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}



#section3 .activ #parclongchamp
{
    grid-column-start: 4;
    grid-row-start: 2;
    width: 275px;
    margin-top: -50px;
}



#section3 .activ #img-parclongchamp
{
    width: 275px;
    height: 160px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}










/* Footer */

#footer
{
    background-color: #F2F2F2;
    display: grid;
    grid-template-columns: 450px 450px 450px;
    grid-template-rows: 300px;
    width: auto;
    margin-left: -10px;
    margin-right: -130px;
}



#footer .apropos
{
    grid-column-start: 1;
    margin: 30px 0px 0px 60px;
}



#footer .noshebergements
{
    grid-column-start: 2;
    margin: 30px 0px 0px 60px;
}



#footer .assistance
{
    grid-column-start: 3;
    margin: 30px 0px 0px 60px;
    
}



#footer .assistance a:link
{
    text-decoration: none;
    color: black;
}





