@font-face {
    font-family: Relaway;
    src: url(polices/Raleway/Raleway-Black.ttf);
    src: url(polices/Raleway/Raleway-Bold.ttf);
    src: url(polices/Raleway/Raleway-BoldItalic.ttf);
    src: url(polices/Raleway/Raleway-SemiBold.ttf);
    src: url(polices/Raleway/Raleway-SemiBoldItalic.ttf);
    src: url(polices/Raleway/Raleway-ExtraBold.ttf);
    src: url(polices/Raleway/Raleway-Regular.ttf);
    src: url(polices/Raleway/Raleway-Italic.ttf);
    src: url(polices/Raleway/Raleway-BlackItalic.ttf);
    src: url(polices/Raleway/Raleway-ExtraBoldItalic.ttf);
    src: url(polices/Raleway/Raleway-ExtraLight.ttf);
    src: url(polices/Raleway/Raleway-ExtraLightItalic.ttf);
    src: url(polices/Raleway/Raleway-Italic-VariableFont_wght.ttf);
    src: url(polices/Raleway/Raleway-Light.ttf);
    src: url(polices/Raleway/Raleway-LightItalic.ttf);
    src: url(polices/Raleway/Raleway-Medium.ttf);
    src: url(polices/Raleway/Raleway-MediumItalic.ttf);
    src: url(polices/Raleway/Raleway-Thin.ttf);
    src: url(polices/Raleway/Raleway-ThinItalic.ttf);
    src: url(polices/Raleway/Raleway-VariableFont_wght.ttf);
}


body
{
    background-image: url(images/Logo.svg);
    background-repeat: no-repeat;
    background-position: 50px 30px;
    margin: 20px 30px 20px 30px; 
    font-family: Relaway , Arial, Helvetica, sans-serif;
    width: 1400px;

}



/* Header*/

header nav
{
display: flex;
justify-content: flex-end;
}


header nav ul
{
    display: flex;
    list-style: none;
}


header nav li
{
margin-left: 80px;
}


header a:link
{
    text-decoration: none;
}


header a:hover
{
   text-decoration: overline #0065FC; 
   padding-bottom: 40px;
}


header #hebergements
{
    color:#0065FC;
}


header #activites
{
    color: gray;
}


header #sinscrire
{
    color:#0065FC;
    font-weight: bold;
}





/* Section 1*/

#section1 h2
{
    margin-top: 60px;
    
}



#section1 p
{
    color: gray;
    font-size: 16px;
}




/* Partie formulaire de la Section 2*/

#section1 #formulaire
{
    border-style: solid;
    border-width: 1px;
    border-radius: 10px 10px 10px 10px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    width: 32%;
    height: 40px;
    margin-top: 30px;
    margin-bottom: 40px ;
    
}



#section1 .bulle-map .fa-map-marker-alt
{
    background-color: #F2F2F2;
    width: 50px;  
    border-radius: 10px 0px 0px 10px;
     
}



#section1 #ville
{
    display: flex;
    justify-content: flex-start;
}



#section1 input[type=search] 
{
    border: 0px; 
    width: 220px;   /*Enlève le contour de la zone recherche*/
}



#section1 #bouton
{
    background-color: #0065FC;
    color: white;
    display: flex;
    width: 100px;
    padding-left: 15px;
    height: 40px;
    border-radius: 0px 10px 10px 0px;

}

#section1 input[type=button] 
{
    border: 0px;    /*Enlève le contour du bouton*/
}





/* Partie des filtres de la Section 2*/

#section1 #filtres
{
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin-bottom: 35px;
}


#section1 .filtremot
{
    margin-top: 8px;
    font-weight: bold;
    font-size: 16px;
}



#section1 .economique
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 165px;
    height: 40px;
}


#section1 .fa-money-bill-wave
{
    color: #0065FC; 
    
  
}


#section1 .bulle-economique .icon-background
{
    color: #DEEBFF;
    
}


#section1 .bulle-economique
{
    margin-left: -10px;
    
}


#section1 .moteconomique
{
    padding-top: 10px;
    padding-left: 10px;
}




#section1 .familial
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 130px;
    height: 40px;  
}


#section1 .fa-child
{
    color: #0065FC; 
    
  
}


#section1 .bulle-familial .icon-background
{
    color: #DEEBFF;
    
}


#section1 .bulle-familial
{
    margin-left: -10px;
    
}



#section1 .motfamilial
{
    padding-top: 10px;
    padding-left: 10px;
}




#section1 .romantique
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 160px;
    height: 40px;   
}


#section1 .fa-heart
{
    color: #0065FC; 
    
  
}


#section1 .bulle-romantique .icon-background
{
    color: #DEEBFF;
    
}


#section1 .bulle-romantique
{
    margin-left: -10px;
    
}


#section1 .motromantique
{
    padding-top: 10px;
    padding-left: 10px;
}




#section1 .animauxautorise
{
    border-style: solid;
    border-width: 2px;
    border-radius: 40px 40px 40px 40px;
    border-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    font-weight: bold;
    width: 210px;
    height: 40px;
}


#section1 .fa-dog
{
    color: #0065FC; 
    
  
}


#section1 .bulle-animaux .icon-background
{
    color: #DEEBFF;
    
}


#section1 .bulle-animaux
{
    margin-left: -10px;
    
}


#section1 .motanimaux
{
    padding-top: 10px;
    padding-left: 10px;
}




/* Partie info avec la bulle info de la Section 1*/

#section1 #info
{
    display: flex;
}


#section1 .bulle-info
{
    margin-right: 30px;
    margin-top: 5px;
}

#section1 .fa-info
{
    color: #0065FC;
    padding-left: 3px;
    padding-top: 3px;
}


#section1 .bulle-info .icon-background
{
    color: white;
    border-width: 2px;
    border-style: solid;
    border-color: #F2F2F2;
    border-image: initial;
    border-radius: 50%; 
    padding: 3px 1px 3px 1px;

}



   




/* Section 2*/

#section2
{
  display: flex;
}

.card
{
    box-shadow: 4px 4px 8px 0px rgb(201, 199, 199);
}



/* Partie hebergements */


.hebergements
{
    background-color: #F2F2F2;
    padding: 20px;
    margin: 30px;
    width: 660px;
    border-radius: 20px 20px 20px 20px;
}


.heberg 
{
    display: grid;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 200px 200px;

}

.heberg div 
{
    background: white;
    margin: 5px;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}

.card
{
    box-shadow: 4px 4px 8px 0px rgb(201, 199, 199);
}


.imgcard-heberg
{
    width: 200px;
    height: 100px;
    object-fit: cover;
    margin: -10px -10px -20px -10px;
    border-radius: 10px 10px 0px 0px;
    
}


.heberg p
{
    margin-top: -10px;
    font-size: 14px;
    color: gray;
}


.fa-star
{
    color: #0065FC;
}


span .fa-star
{
    color: rgb(228, 226, 226);
}


#star
{
    margin: -18px;
    background-color: transparent;
}

article #afficherplus
{
    font-weight: bold;
    margin: 20px 0px 20px 10px;
}




/* Partie Les plus populaires */

.populaires
{
    background-color: #F2F2F2;
    padding: 20px;
    margin: 30px;
    width: 375px;
    border-radius: 20px 20px 20px 20px;
}


.fa-chart-line
{
    margin-left: 130px;
}



.popu 
{
    display: grid;
    grid-template-columns: 370px;
    grid-template-rows: 170px 170px 170px;
}


.popu div 
{
    background: white;
    margin: 5px;
    padding: 15px;
    border-radius: 10px 10px 10px 10px;
}


.cartepopu 
{
    display: grid;
    grid-template-columns: 180px 180px;
    grid-template-rows: 55px 55px 55px;
    box-shadow: 4px 4px 8px 0px rgb(201, 199, 199);
}


.imgcard-popu
{
    width: 130px;
    height: 150px;
    object-fit: cover;
    margin: -10px -10px -20px -10px;
    border-radius: 10px 0px 0px 10px;
    grid-row: 1/2;
}


.cartepopu h4
{
    grid-column-start: 2;
    margin: 0px 20px 0px 0px;
}


.cartepopu p
{
    grid-column-start: 2;
    grid-row-start: 2;
}

.cartepopu #star
{
    grid-column-start: 2;
    grid-row-start: 3;
}









